body {
	font-family: Arial, sans-serif;
}

.tc-form{
	display: flex;
	flex-direction: column;
	width: 60vw;
	margin: 0 auto;
}

.tc-form-heading {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 1rem;
	color: #3d3d3d;
}

.tc-form-radios {
	width: 100%;
}

.preview-template-headings {
	text-align: center;
}

.preview-field {
	display: grid;
	grid-template-columns: 60% 40%;
	align-items: center;
	column-gap: 1rem;
}

.preview-document {
	background-color: #f9f9f9;
	padding: 2rem;
	margin: 2rem 5rem;
	border-radius: 10px;
}

.principal-sign {
	text-align: right;
	margin: 2rem 5rem;
}

.bottom-field {
	margin-top: 2rem;
}

.align-right {
  display: flex;
  justify-content: flex-end;
	gap: 1rem;
}